[Unit]
Description=Odoo Accounting CLI V3 Pi-to-broker socket
Before=odoo-accounting-cli-v3-broker.service

[Socket]
ListenStream=/run/odoo-accounting-cli-v3/pi-broker.sock
Accept=no
Service=odoo-accounting-cli-v3-broker.service
FileDescriptorName=odoo-v3-pi-broker
SocketUser=root
SocketGroup=odoo-v3-pi-broker
SocketMode=0660
DirectoryMode=0750
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
